:root {
  --color-font: #e2e2e5;
  --color-page: #191919;
  --color-border: #2a2a2a;

  --mono: 'Monaco', monospace;
}

body {
  line-height: 1;

  color: var(--color-font);
  background-color: var(--color-page);

  margin: 0;
}

#app {
  display: flex;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: normal;
  margin-block: unset;
}
