@import './normalize.css';
@import './variables.css';

:root {
  color-scheme: light dark;
  --mono: 'Monaco', monospace;
}

body {
  line-height: 1;

  color: var(--color-font);
  background-color: var(--color-page);

  margin: 0;
}

#app {
  display: flex;
  align-items: flex-start;
}
