:root {
  --color-font: #191c1e;
  --color-page: #ffffff;
  --color-aside: #f8f8f7;
  --color-button: #ffffff;
  --color-editor: #ffffff;
  --color-border: #eeeeec;

  @media (prefers-color-scheme: dark) {
    --color-font: #e2e2e5;
    --color-page: #191919;
    --color-aside: #f8f8f7;
    --color-button: #323232;
    --color-editor: #1f1f1f;
    --color-border: #2a2a2a;
  }
}
